# version: '3.8'

services:
  backend:
    image: keitakahashi0103/profiu-backend:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile.prod
    ports:
      - "8080:8080"
    # volumes:
    #   - .:/go/src/app
    # dev ---> command: ["air"]
    command: ["go", "run", "main.go"]
    networks:
      - shared_network
    environment:
      # 本番用のDB接続
      DB_DRIVER: mysql
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}

networks:
  shared_network:
    driver: bridge