.body {
    /* background-color: #000000; */
    background-color: #e5f2fb;
    min-height: 100vh; /* 画面全体を青にする */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c5bfec;
    font-size: large;
}

.sample-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap;
}

.sample-img li {
    list-style: none;
}

.sample-img img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}