/* src/components/Header.css */
.header {
    /* background-color: #000000; */
    background-color: #e7e5f9;
    /* color: #fff; */
    color: #c1d7e8;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #00000033;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links li a:hover {
    color: #ffca28;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
    list-style: none;
  }
  
  .nav-links li a {
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF; 
    transition: color 0.3s ease;
  }


  
  .nav-links li a:hover {
    color: #ffca28;
  }
  